.header {
    background-color: #111111e5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img{
    width: 60%;
    margin-top: 20px;
    height: 50px;
    object-fit: cover;
    mix-blend-mode:difference;
    border-radius: 50%;
  }
  
  .navbar {
    display: flex;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 6px 12px;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    cursor: pointer;
    color: #00bcd4; 
  }

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }

  .line {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  

  /*QUERY DISPOSITIVOS MOBILES.*/
  @media screen and (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    /* Estilos para el menú desplegable */
    .navbar {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #333;
      height: 100vh;
      width: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .navbar.active {
      transform: translateX(0);
      display: flex;
    }
  
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links li {
      margin: 20px 0;
    }
  }
  
  /* Animación para las líneas del icono de la hamburguesa */
  .hamburger .line.open:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }
  
  .hamburger .line.open:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger .line.open:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }